<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hookeai Poke</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- External CSS -->
  <link rel="stylesheet" href="/styles/menu-page.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <!-- Bootstrap CDN -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>


<body>
 <% include ./partials/_header %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Menu <img class="img" src="../pictures/menu/ricebowl.png"></h1>
      <p class="lead">Choose from one of our many offerings!</p>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-8 content">
             <section id="full-menu-container">
              <% menu.forEach(function(menuItem){ %>
                <div class="menu-item-container">
                  <img class="menu-item-pic" src="<%- menuItem.url %>">
                  <div class="description">
                    <div><strong><%-menuItem.name %></strong></div>
                    <div> <%-menuItem.description %></div>
                    <div class="price"> $<%-menuItem.price / 100%> </div>
                  </div>
                  <input class="btn btn-secondary addButton" id="<%- menuItem.id %>" type="button" onclick="addToCart(<%- menuItem.id %>, '<%- menuItem.name %>', <%- menuItem.price %>)" value="+">
                </div>
              <% }); %>
            </section>
        </div>
        <div class="col-4">
            <div class="sticky-top">
                <h4><img id="puffer" src="../pictures/menu/pufferfish.png"> Your Cart</h4>
                <section class="order-box">


                </section>
                <div class="total">Total</div>

        <form action="/orders/checkout">
        <button type="submit" class="btn btn-info">Check me out!<a href="/orders/checkout"></a></button>
              </form>
              </div>

            </div>
          </div>
        </form>
        </div>
    <div class="footer">
      <% include ./partials/_footer %>
    </div>
</div>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>

  </script>
</body>
</html>
